<html>
    <head>
        <title>RemoteRegulator</title>

        <link rel="stylesheet" href="components/bootswatch/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="remoteregulator.css">

        <script src="components/q/q.js"></script>
        <script src="components/underscore/underscore-min.js"></script>
        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="components/typeahead.js/dist/typeahead.jquery.min.js"></script>
        <script src="components/he/he.js"></script>
        <script src="url.min.js"></script>
        <script src="remoteregulator.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <pre id="out" class="pre-scrollable"></pre>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <input id="in" type="text" class="form-control" placeholder="command">
                </div>
                <div class="col-md-2">
                    <button id="submit" type="button" class="btn btn-primary btn-block">Submit</button>
                </div>
            </div>
        </div>
    </body>
</html>
